{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{{ object.title }}</h2>
<p>{{ object.description }}</p>
<h3>{% trans 'User Reviews' %}</h3>
<ul>
    {% for review in object.reviews.all %}
    <li>{{ review.review }} by {{ review.user_name }}</li>
    {% endfor %}
</ul>
<a href="{% url 'new-review' movie_pk=object.pk %}">{% trans 'Submit New Review' %}</a>
{% endblock %}
