{% extends "base.html" %}
{% load i18n %}


{% block content %}
<h2>{% trans 'Submit New Review for' %} {{ movie.title }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Submit Review' %}" />
</form>
{% endblock %}
